
	h1{
		text-align: center;
		font-style: italic;
		font-size:40px;
		color:white;
	}

	a{
		color: #00CC99;
		font-weight: bolder;
	}

	nav{
		text-align: center;
		font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
		font-size: 20px;
		color:white;	
	}
	
	h2{
		font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
		font-size: 28px;
		color: white;
	}
	h3{
		font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
		font-size: 18px;
		font-weight: bolder;
		text-transform: uppercase;
		color: #D3D3D3;
	}
	body{
		padding: 50px;
		margin: 15px 270px 70px 270px;
		background-color: #484848;
		border-style: solid;
		border-color: #B0B0B0;
		border-width: 5px;
		text-align: wrap;
		font-size: 16px;
		font-family: "Lucida Bright", Georgia, serif;
		color: #D3D3D3;
	}
	ul{
		list-style-type: square;
	}
	li{
		font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
		font-size: 16px;
		color:white;
	}
	small{
		color: #D3D3D3;

	}